.title-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 0.25rem;
    transition: all 0.5s ease-in-out;
}

.title-avatar:hover {
    width: 4.5rem;
    height: 4.5rem;
}